body{
    background-color: #b3b3b3;
}

button{
    border-radius: 5px;
    width: 100px;
    margin: 2px;
}

#can{
    box-shadow: 20px 20px 10px #888888 !important;
}
@media screen and (max-width: 1100px) {
    #can{
        width: 600px;
        height: 800px;
        position:absolute!important;
        margin: 20px;
        top:30% !important;
        left:10% !important;
        border:2px solid !important;
    }

}
@media screen and (max-width: 1100px) {
    button{

        border-radius: 5px;
        width: 200px;
        height: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

}
@media screen and (max-width: 1100px) {
    #clr{
        position:absolute !important;
        top:70% !important;
        left:20% !important;
    }

}